.leftBar {
    flex: 2;
    border: 1px solid lightgray;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  
    &.hidden {
      transform: translateX(-100%);
      position: absolute;
    }
  
    .leftBarContainer {
      padding: 20px;
  
      .leftBarMenu {
        display: flex;
        flex-direction: column;
        gap: 20px;
  
        .leftBarItem {
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 10px 15px;
          border-radius: 8px;
          background-color: white;
          cursor: pointer;
          transition: background-color 0.3s, box-shadow 0.2s;
  
          span {
            font-size: 20px;
            color: #333;
            transition: color 0.3s;
          }
        }
        .leftBarItem:hover {
          background-color: #e0f7fa;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        }
  
        .leftBarItem:active {
          background-color: #b2ebf2;
          box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.1);
        }
  
        .leftBarItem span:hover {
          color: #007bb5;
        }
      }
    }
  }
  